.card {
    margin: 37px;
    max-width: 235px;
    font-size: 12px;
    line-height: 110%;
}

.card-image {
    width: 100%;
    margin-bottom: 9px;
}

.card-info {
    margin-top: 0px;
}

.rating {
    height: 25px;
}

.star {
    width: 14px;
    height: 14px;
    align-self: end;
    padding: 0px 2px;
}

.description-text {
    margin-bottom: 0px;
}

.price {
    display: flex;
    flex-direction: row;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}
